@model UserInfo
@{
    ViewData["Title"] = "Başvuru Formu";
}
<h1 class="h4 text-center">Başvuru Formu</h1>
<form method="post" action="/Meeting/Apply">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Ad Soyad</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Phone">Telefon</label>
        <input class="form-control" asp-for="Phone" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="WillAttend">Katılım Durumu</label>
        <select class="form-select" asp-for="WillAttend">
            <option value="true">Evet, Geliyorum</option>
            <option value="false">Hayır, Gelmiyorum</option>
        </select>
        
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>