@model List<UserInfo>
@{
    ViewData["Title"] = "Liste";
}
<main class="text-center">
    <h1 class="h4">Toplantı Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    Ad Soyad
                </td>
                <td>
                    Katılım Durumu
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class='@(user.WillAttend ? "table-success" : "table-danger")'>
                    <td>@user.Name</td>
                    <td>@(user.WillAttend ? "Evet" : "Hayır")</td>
                    <td>
                        <a asp-controller="Meeting" asp-action="Details" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>